.container {
  margin-bottom: 5rem;
}
.card {
  border-radius: 15px;
}
.card-header {
  background-color: #2b387c;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.form-group label {
  font-weight: bold;
}
